<div class = "top" >
	<h1>Upload your Cake for Review!</h1>
	<!-- Back-end validations -->
		<p class = "error">{{error}}</p>
	<!-- Front-end validations -->
		<p class = "error" *ngIf = "newCake.imgurl.length >= 1 && newCake.imgurl.length <3 ">Your image cannot be blank!</p>
		<p class = "error" *ngIf = "newCake.baker.length >= 1 && newCake.baker.length <3">Your comment cannot be blank!</p>
</div>
	<form (submit)="addCake()">
	    <!-- use the json pipe to see how newTask changes in real time -->
<!-- 	    <p> {{ newCake | json }} </p> -->
	    <!-- validations for entering baker info -->
	    <b>Baker: </b><input type="text" name="newCake.baker" [(ngModel)] = "newCake.baker" />
	    <b>ImgUrl: </b><input type="text" name="newCake.imgurl" [(ngModel)] = "newCake.imgurl" />
	    <input [disabled]="newCake.baker.length < 1 || newCake.imgurl.length < 1" type="submit" value="Upload Cake"/>
	</form>

