
<img src = "{{cake.imgurl}}">



<p class = "error" *ngIf = "review.comment.length >= 1 && review.comment.length <3">Your comment cannot be less than 3 characters long!</p>

<p class = "error" *ngIf = "review.rating < 1">Your rating cannot be blank!</p>


<form (submit) = "addReview(cake._id)">

	<ul><b>Rating: </b>
		<select input type = "text"  name="review.rating" [(ngModel)] = "review.rating"  >

			<option value = "1">1</option>
			<option value = "2">2</option>
			<option value = "3">3</option>
			<option value = "4">4</option>
			<option value = "5">5</option>

		</select></ul>

		<b>Review: </b> 
		<br>
		<textarea name="review.comment" [(ngModel)] = "review.comment"> </textarea>

		<br>

		<input [disabled] = "review.comment.length < 3"  type = "submit" value = "Submit Review">

	</form>




<!-- <p class = "error" *ngIf = "review.rating.length = 0">Your rating cannot be blank!</p>
 -->

<!-- <p class = "error" *ngIf = "review.comment.length > 1 && review.comment.length < 3">Your comment cannot be less than 3 characters long!</p> -->


<!--  -->


	{{review | json}}

<!-- 
	<form (submit)="addCake()">

	    <b>Baker: </b><input type="text" name="newCake.baker" [(ngModel)] = "newCake.baker" />
	    <b>ImgUrl: </b><input type="text" name="newCake.imgurl" [(ngModel)] = "newCake.imgurl" />
	    <input [disabled]="newCake.baker.length < 1 || newCake.imgurl.length < 1" type="submit" value="Upload Cake"/>
	</form> -->