
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Message</th>
			<th>Actions</th>

		</tr>
	</thead>
	<tbody>


		<tr *ngFor = "let user of users">


			<td><input class = "name" type = "text" [(ngModel)] = "user.first_name">
				<input class = "name" type = "text" [(ngModel)] = "user.last_name">

			</td>

			<td><input type = "text" [(ngModel)] = "user.email"></td>

			<td><input type="text" name="user.message" [(ngModel)] = "user.message"></td>

			<td><button (click) = "sendEmail(user)">Send</button>
				<button (click) = "updateUser(user)">Update</button>
				<button (click)="deleteUser(user)">Delete</button>


			</td>

		</tr>


	</tbody>
</table>





<!-- {{text | json}}
-->
<!-- [(ngModel)] = "user.message" -->